body {
  height: 100vh;
  width: 100vw;
  background-image: url("./title_background/soundwave.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  padding: 15px 0;
  background-color: #1D5D5D;
  width: 70vw;
  min-width: 750px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

header {
  width: 100vw;
  background-color: #1D5D5D;
  height: 78px;
  position: fixed;
  z-index: 2;
}

.Link {
  font-size: 28px;
  font-family: 'Heebo', sans-serif;
  color: white;
  text-decoration: none;
  padding: 22px 100px;
  background-color: rgba(11, 68, 68, 0.5)
}

.Link:hover {
  background-color: #002C2C;
}
